/* 
    Document   : zapp
    Created on : Mar 14, 2012, 7:19:26 PM
    Author     : Nicholas Vaidyanathan
    Description:
        Stylesheets to align Sam's theme with zapp app'
*/

html, body {
    background: url(../images/bg.jpg);
}

#container {
    margin: 0 auto;
}

#container.twoColumn div {
    width: 50%;
}

#phoneContainer{
    float: left;
}

#phoneContainer img{
    margin-left: 10%;
    margin-top: 25%;
}

#blurb { 
    float: right;
    margin-top: 15%;
}

#try {
    background-color: #3CBAE3;
    font-size: 1275%;
}

#try a{
    text-decoration: none;
    color: white;
}


